@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .tilt-card {
    transform-style: preserve-3d;
  }
  .tilt-card-content {
    transform: translateZ(30px);
  }
}

.marquee-container {
  display: flex;
  overflow: hidden;
  user-select: none;
  gap: 2rem;
}

.marquee-content {
  flex-shrink: 0;
  display: flex;
  justify-content: space-around;
  min-width: 100%;
  gap: 2rem;
  animation: scroll 20s linear infinite;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - 2rem));
  }
}
